<!DOCTYPE html>
<html>
<head>
    <title>List me some movies</title>
</head>
<body>
<form action="" method="post">
    {% if postal_code %}
        <p><input type=text name=postal_code value={{postal_code}}>
    {% else %}
        <p><input type=text name=postal_code>
    {% endif %}

    <p>
        <select name="Theater">
        <option value="df8f08ae82966d06">Scotia Bank</option>
        <option value="3363868af226df5b">AMC Forum</option>
        </select>
    <p><input type=submit value="Get List">
</form>
</body>
</html>